@CHARSET "UTF-8";
#mobile-indicator {
	display: none;
}

html {
	height: 100%;
}

body {
	margin: 0px;
	font-family: Ubuntu;
	background: #ffffff;
	height: 100%;
}

#wrapper {
	display: block;
	width: 100%;
	height: 100%;
	font-size: 0;
	background: #000000;
}

#sidebar {
	display: inline-block;
	position: fixed;
	background: #3257ab;
	width: 300px;
	height: 100%;
	left: -300px;
	z-index: 100;
	overflow: auto;
}

#sidebar::-webkit-scrollbar {
    width: 0px;
}

#sidebarButton {
	display: inline-block;
	height: 80px;
	width: 80px;
	background: url("../images/sidebarButtonClose.png");
	z-index: 101;
	position: fixed;
}

#logo {
	display: inline-block;
	height: 240px;
	width: 100%;
	border-bottom: 1px #1b3e8e solid;
}

#logoImg {
	height: 140px;
	width: 140px;
	margin: 50px 80px;
}

#itemList {
	list-style-type: none;
	list-style-postion: inside;
	padding: 0;
}

.item {
	width: 100%;
	height: 50px;
	border-bottom: 1px #1b3e8e solid;
	text-align: center;
}

.itemLinks {
	display: block;
	width: 100%;
	height: 50px;
	line-height: 50px;
	text-decoration: none;
	color: #ffffff;
	font-size: 16px;
	-webkit-transition: background 0.2s;
	transition: background 0.2s;
}

.itemLinks:hover {
	background: #1b3e8e;
}

.itemLinks:active {
	background: #1f366a;
}

#content {
	display: inline-block;
	position: fixed;
	background: #ffffff;
	width: 100%;
	height: 100%;
	z-index: 0;
	overflow-y: auto;
	overflow-x: auto;
}

.projects {
	width: 100%;
	height: 100%;
}

.innerContent {
	width: 1080px;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
}

.title {
	font-size: 64px;
	padding-top: 90px;
	text-align: center;
	color: #313131;
}

.projectIcon {
	display: block;
	width: 80px;
	height: 80px;
	margin-top: 15px;
	background-color: #ffffff;
	margin-left: auto;
	margin-right: auto;
}

.projectLink {
	display: block;
	font-size: 20px;
	font-style: italic;
	margin-top: 25px;
	border: 1px #a9a9a9 solid;
	border-radius: 5px;
	background: #fff9f1;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #000478;
	text-decoration: underline;
	text-align: center;
	pointer-events: auto;
}

.description {
	font-size: 20px;
	margin-top: 25px;
	margin-bottom: 200px;
	border: 1px #a9a9a9 solid;
	border-radius: 5px;
	padding-left: 20px;
	padding-right: 20px;
	color: #313131;
}

.italics {
	font-style: italic;
}
