@CHARSET "UTF-8";

body {
	font-family: Ubuntu;
	font-size: 14px;
}

li {
	margin-bottom: 3px;
}

.title {
	font-weight: bold;
	text-decoration: underline;
}

.blogText {
	padding-top: 10px;
	padding-left: 20px;
}

ol.noStyleList {
	list-style-type: none;
}

ol.lowerCaseAlphaList {
	list-style-type: lower-alpha;
}

ol.lowerCaseRomanList {
	list-style-type: lower-roman;
}

ol.upperCaseAlphaList {
	list-style-type: upper-alpha;
}

ol.upperCaseRomanList {
	list-style-type: upper-roman;
}

.code {
	font-family: Courier;
	background-color: #FFFCE4;
}
